<!DOCTYPE html>
<html>
<head>
  <title>OmniFood</title>
   <meta charset="utf-8">
        <meta name ='viewport' content= 'width=device-width, initial-scale = 1.0'>
        <meta name ='description' content ='omnifood is a premium food delivery service which are affordable and healthy dietary right to your doorstep'>
        
        <!-- CSS files from vendors -->
        <!--<link rel='stylesheet' type ="text/css" href ="vendors/css/normalize.css">-->
        <!--<link rel ='stylesheet' type ="text/css" href ='vendors/css/grid.css'>-->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <!--<link rel ='stylesheet' type ="text/css" href = "vendors/css/ionicons.min.css"> -->
        <!--<link rel = 'stylesheet' type="text/css" href="vendors/css/animate.css">-->
        
        <!-- Customised -->
        <!--<link rel='stylesheet' type ="text/css" href = "resources/css/style.css">-->
        <!--<link rel = 'stylesheet' type = 'text/css' href ="resources/css/quries.css">-->
   

  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


       
        